# General:
export AWS_PROFILE=profile

export DEST_DB_HOST=127.0.0.1
export DEST_DB_NAME=dest_db_name
export DEST_DB_PASS=dest_db_pass
export DEST_DB_USER=dest_db_user
export DEST_S3_BUCKET=dest_s3_bucket
export DEST_DB_PORT=3306

export SOURCE_DB_HOST=127.0.0.1
export SOURCE_DB_NAME=source_db_name
export SOURCE_DB_PASS=source_db_pass
export SOURCE_DB_USER=source_db_user
export SOURCE_S3_BUCKET=source_s3_bucket
export SOURCE_DB_PORT=3306

export SOURCE_EXCLUDE_TABLE=directus_users

export DEST_CLOUDFRONT_ID=ABCDEFG1234567
